@media screen and (min-width: 500px) {
    .about {
        &__education {
            flex-direction: row;
            div {
                margin-bottom: 0;
            }
        }
        &__img img {
            width: 400px;            
        }
    }
    .contact-data {
        flex-direction: row;
    }    
}

@media screen and (min-width: 576px) {
    .home {
        &__title {                        
            margin-bottom: $mb-4;
        }
        &__subtitle {
            font-size: $h2-font-size;
        }
        &__data {            
            padding-bottom: 1rem;
        }
        &__social-icon {
            margin-right: $mb-4;
        }
    }
}

@media screen and (min-width: 768px) {
    .section {
        padding-top: 4rem;
        padding-bottom: 3rem;
    }
    .section-title {
        margin-bottom: $mb-6;
        
        &::after {
            width: 80px;
            top: 3rem;
        }
    }
    .nav {
        height: 4rem;
    }
    .nav__list {
        display: flex;
        padding-top: 0;
    }
    .nav__item {
        margin-left: $mb-6;
        margin-bottom: 0;
    }
    .nav__link {
        color: $second-color;
    }    
    .nav__toogle {
        display: none;
    }
    .about__container, .skills__container,
    .contact__container {
        grid-template-columns: repeat(2, 1fr);        
        text-align: initial;
    }
    .home {
        &__arrow, &__right {            
            display: block;                      
        }
        &__title {
            font-size: 2.5rem;
        }
    }    
    .skills__container {
        align-items: center;
    } 
    .about__img img {
        width: 300px;    
    }    
    .work { 
        &__container {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            column-gap: 2rem;
        }    
    }
    .contact-data {
        flex-direction: column;
    }    
}

@media screen and (min-width: 991px) {
    .home {
        &__container {            
            padding-top: 0;
            justify-content: space-around;
        }
        &__data {
            padding-top: 10rem;    
        }        
    } 
    .contact-data {
        flex-direction: row;
    }   
}

@media screen and (min-width: 1024px) {
    .bd-grid {
        margin-left: auto;
        margin-right: auto;
    }
}