section#about.about.section
  h2.section-title About
  .about__container.bd-grid
    .about__img
      img(src="./img/my_photo_big.jpg", alt="")
    div
      h2.about__subtitle I'am Sergey
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur nulla vel aspernatur quisquam vero magnam natus, consectetur facere voluptates quia.
