section#about.about.section
  h2.section-title About
  .about__container.bd-grid
    .about__img
      img(src="./img/my_photo_sm.jpg", alt="")
    div
      h2.about__subtitle Hello...
      p.about__text  ...my name is Sergey.  I'am a switcher. I am a beginner front-ender. My purpose is to become a JS developer. Namely, to work with the React.js & Vue.js frameworks. It is this direction that I like the most in a large selection of possible front-end directions. A huge desire to learn and develop in this sphere, where mental work is appreciated. The desire to find work with a smart, friendly and responsive team. Thank you for your attention to my resume.
      .about__education
        .about__item
          img(src="./img/logo_1.svg", alt="")
          p 2004-2010
          p Electronic system
        .about__item
          img(src="./img/logo_2.svg", alt="")
          p 2010-2012
          p Web-design
        .about__item
          img(src="./img/logo_3.svg", alt="")
          p 2019-2020
          p Front-end