section#contact.contact.section
  h2.section-title Contact
  .contact__container.bd-grid
    div.contact-box
      .contact-data
        p
          span.contact-data__title Phone: 
          a.contact-data__link(href="tel: +380995582186") +38(099)55-82-186
        p
          span.contact-data__title E-mail: 
          a.contact-data__link(href="mailto: randick56@gmail.com") randick56@gmail.com
      .contact__location
        iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2722.2440652870678!2d31.973915415804782!3d46.97654063928105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c5c90d3ee83f2d%3A0xf0c2ad5741ca1030!2z0YPQuy4g0J_QvtGC0LXQvNC60LjQvdGB0LrQsNGPLCA2LCDQndC40LrQvtC70LDQtdCyLCDQndC40LrQvtC70LDQtdCy0YHQutCw0Y8g0L7QsdC70LDRgdGC0YwsINCj0LrRgNCw0LjQvdCwLCA1NDAwMA!5e0!3m2!1sru!2suk!4v1604500758799!5m2!1sru!2suk' width='600' height='450' frameborder='0' style='border:0;' allowfullscreen='' aria-hidden='false' tabindex='0')
    div.contact-form
      form#contact-form.contact__form(action="")      
        .input-wrap
          input.contact__input(type="text" name="name" placeholder="Name")
        .input-wrap
          input.contact__input(type="email" name="user_email" placeholder="E-mail")
        .input-wrap
          textarea.contact__input(name="message", cols="0", rows="10", placeholder="Message" )
        input.contact__btn.button(type="submit", value="Send")
    