section#contact.contact.section
  h2.section-title Contact
  .contact__container.bd-grid
    form.contact__form(action="")
      input.contact__input(type="text" placeholder="Name")
      input.contact__input(type="mailto" placeholder="Name")
      textarea.contact__input(name="", cols="0", rows="10")
      input.contact__btn.button(type="button", value="Envair")