footer.footer
  p.footer__title Sergey Tonchenko
  .footer__social
    a.footer__icon(href="https://www.linkedin.com/in/sergiy-tonchenko-a67402199/" target="_blank")
      i.bx.bxl-linkedin
    a.footer__icon(href="https://vk.com/id128143854" target="_blank")
      i.bx.bxl-vk
    a.footer__icon(href="https://www.facebook.com/profile.php?id=100022107559569" target="_blank")
      i.bx.bxl-facebook
  p &#169; 2020 copyright Sergey Tonchenko