footer.footer
  p.footer__title Sergey
  .footer__social
    a.footer__icon(href="")
      i.bx.bxl-linkedin
    a.footer__icon(href="")
      i.bx.bxl-vk
    a.footer__icon(href="")
      i.bx.bxl-facebook
  p &#169; 2020 copyright Sergey Tonchenko