header.l-header
  nav.nav.bd-grid
    div
      a.nav__logo(href="#") Portfolio
    #nav-menu.nav__menu
      ul.nav__list
        li.nav__item
          a.nav__link.active(href="#home") Home
        li.nav__item
          a.nav__link(href="#about") About
        li.nav__item
          a.nav__link(href="#skills") Skills
        li.nav__item
          a.nav__link(href="#work") Work
        li.nav__item
          a.nav__link(href="#contact") Contact
    #nav-toogle.nav__toogle
      i.bx.bx-menu
  