section#home.home.bd-grid.panel
  .home__data
    h1.home__title
      | Hi,
      br
      | I'am 
      span.home__title-color Sergey
      br
      | Front-end developer
    a.button(href="#contact") Contact
  .home__social
    a.home__social-icon(href="#")
      i.bx.bxl-linkedin
    a.home__social-icon(href="#")
      i.bx.bxl-github
    a.home__social-icon(href="#")
      i.bx.bxl-facebook
  .home__img
    img(src="./img/my_photo.png", alt="")