section#home.home.section
  .home__container.bd-grid
    .home__arrow
      img(src="./img/arrow.svg", alt="arrow_down")
    div
      .home__data
        h1.home__title
          | Hi,
          br
          | I'am 
          span.home__title-color Sergey
          br
          | Front-end developer
        a.button(href="./files/cv.pdf" download="Serhiy Tonchenko CV") Download CV
      .home__social
        a.home__social-icon(href="https://www.linkedin.com/in/sergiy-tonchenko-a67402199/" target="_blank")
          i.bx.bxl-linkedin
        a.home__social-icon(href="https://github.com/sergeytonchenko?tab=repositories" target="_blank")
          i.bx.bxl-github
        a.home__social-icon(href="https://www.facebook.com/profile.php?id=100022107559569" target="_blank")
          i.bx.bxl-facebook
    .home__img
      img(src="./img/my_photo.png", alt="")