section#skills.skills.section
  h2.section-title Skills
  .skills__container.bd-grid
    div
      h2.skills__subtitle Professional Skills
      p.skills__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, molestiae?
      .skills__data
        .skills__names
          i.bx.bxl-html5.skills__icon
          span.skills__name HTML5
        div
          span.skills__percentage 90%
        .skills__bar.skills__html
      .skills__data
        .skills__names
          i.bx.bxl-css3.skills__icon
          span.skills__name CSS3
        div
          span.skills__percentage 75%
        .skills__bar.skills__css
      .skills__data
        .skills__names
          i.bx.bxl-javascript.skills__icon
          span.skills__name JS
        div
          span.skills__percentage 60%
        .skills__bar.skills__js
      .skills__data
        .skills__names
          i.bx.bxl-vuejs.skills__icon
          span.skills__name Vue.js
        div
          span.skills__percentage 50%
        .skills__bar.skills__vue
    div
      img.skills__img(src="./img/skills_img.jpg", alt="")