section#skills.skills.section.panel
  h2.section-title Skills
  .skills__container.bd-grid
    div
      h2.skills__subtitle Professional Skills
      p.skills__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, molestiae?
      .skills__data
        .skills__names
          i.bx.bxl-html5.skills__icon
          span.skills__name HTML5
        div
          span.skills__percentage 90%
        .skills__bar.skills__html
      .skills__data
        .skills__names
          i.bx.bxl-css3.skills__icon
          span.skills__name CSS3
        div
          span.skills__percentage 75%
        .skills__bar.skills__css
      .skills__data
        .skills__names
          i.bx.bxl-javascript.skills__icon
          span.skills__name JS
        div
          span.skills__percentage 60%
        .skills__bar.skills__js
      .skills__data
        .skills__names
          i.bx.bxl-vuejs.skills__icon
          span.skills__name Vue.js
        div
          span.skills__percentage 50%
        .skills__bar.skills__vue
    .skills__box
      ul.skills__list
        li.skills__item 
          span
            i.bx.bx-check
          | SCSS, BEM, Bootstrap
        li.skills__item 
          span
            i.bx.bx-check
          | jQuery
        li.skills__item 
          span
            i.bx.bx-check
          | Pug
        li.skills__item 
          span
            i.bx.bx-check
          | Webpack, Gulp 
        li.skills__item 
          span
            i.bx.bx-check
          | Git 
        li.skills__item 
          span
            i.bx.bx-check
          | Ps, Ai, Figma  
        li.skills__item 
          span
            i.bx.bx-check
          | React