section#work.work.section.panel
  h2.section-title Work
  .work__container.bd-grid
    .work__img
      img(src="./img/skills_img.jpg", alt="")
    .work__img
      img(src="./img/skills_img.jpg", alt="")
    .work__img
      img(src="./img/skills_img.jpg", alt="")
    .work__img
      img(src="./img/skills_img.jpg", alt="")
    .work__img
      img(src="./img/skills_img.jpg", alt="")
    .work__img
      img(src="./img/skills_img.jpg", alt="")