section#work.work.section.panel
  h2.section-title Work
  .work__container.bd-grid
    a.work__img(href="https://sergeytonchenko.github.io/Wezom_test/dist/" target="_blank")
      img(src="./img/wezom.jpg", alt="wezom_test")
    a.work__img(href="https://sergeytonchenko.github.io/CBD_Project/dist/" target="_blank")
      img(src="./img/cbd.jpg", alt="cbd")
    a.work__img(href="https://sergeytonchenko.github.io/Monticello/" target="_blank")
      img(src="./img/montichello.jpg", alt="montichello")
    a.work__img(href="https://sergeytonchenko.github.io/Penoboard/dist/" target="_blank")
      img(src="./img/penoboard.jpg", alt="penoboard")
    a.work__img(href="https://sergeytonchenko.github.io/Bhromaon/" target="_blank")
      img(src="./img/bhromaon.jpg", alt="bhromaon")
    a.work__img(href="https://sergeytonchenko.github.io/Cahee/" target="_blank")
      img(src="./img/cahee.jpg", alt="cahee")