<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Tonchenko_Resume                     
    body
      include modules/header
      include modules/aboutme
      include modules/skills
      include modules/portfolio
      include modules/contact    
    script(src='./index.js')
    
