doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
  body
    .example
      h1 Hi from Pug
      .less
        h2 LESS
      .sass
        h2 SASS
