<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Tonchenko_Resume                     
    body
      .first-page
        include modules/header
        include modules/home
      .main
        include modules/about
        include modules/skills
        include modules/work
        include modules/contact      
      include modules/footer 
    
    
