$first-color: #4070F4;
$second-color: #0E2431;
$third-color: #ffffff;

$big-font-size: 2rem;
$h2-font-size: 1.25rem;
$normal-font-size: 0.938rem;

@media screen and (min-width: 768px) {
    $big-font-size: 3.5rem;
    $h2-font-size: 2rem;
    $normal-font-size: 1rem;
}

// MARGINS
$mb-1: 0.5rem;
$mb-2: 1rem;
$mb-3: 1.5rem;
$mb-4: 2rem;
$mb-5: 2.5rem;
$mb-6: 3rem;

//Z-INDEX
$z-back: -10;
$z-normal: 1;
$z-tooltip: 10;
$z-fixed: 100;


