.about__container {
    row-gap: 2rem;
    text-align: center;
}

.about__subtitle {
    margin-bottom: $mb-2;    
}

.about__img {
    justify-self: center;

    img {
        width: 250px;
        border-radius: .5rem;
    }
}

