.contact__input {
    width: 100%;
    font-size: $normal-font-size;
    font-weight: 600;
    padding: 1rem;
    border-radius: .5rem;
    border: 1.5px solid $second-color;
    outline: none;
    resize: none;
    margin-bottom: $mb-4;    
}

.contact__btn {
    display: block;
    border: none;
    outline: none;
    font-size: $normal-font-size;
    cursor: pointer;
    margin-left: auto;
}