.contact-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__location {    
        height: 350px;
        margin-bottom: $mb-4;
        border-radius: .5rem;
        iframe {
            height: 100%;
            width: 100%;
            border-radius: .5rem;
        }
    }
}
.contact-data {
    display: flex;
    flex-direction: column;    
    justify-content: space-evenly;
    padding: .5rem;
    border-radius: .5rem;    
    margin-bottom: $mb-4;
    background-color: #fff;
    &__title {
        color: $second-color;
        font-weight: 600;
    }
    &__link {
        color: $first-color;
        font-weight: 400;
    }
}
.contact-form {
    width: 100%;    
}
.contact-input-wrap {
    position: relative;
    margin-bottom: $mb-4;
}
.contact__input {
    width: 100%;
    font-size: $normal-font-size;
    font-weight: 600;
    padding: 1rem;
    border-radius: .5rem;    
    outline: none;
    resize: none;
    &::placeholder {
        font-size: $normal-font-size;
        font-weight: 600;
        color: rgb(153, 153, 153);
    }
}
.contact__input+label {
    position: absolute;
    bottom: -1.5rem;
    left: 0;
    border: none;
    color: tomato !important;
}
.contact__btn { 
    display: block;   
    border: none;
    outline: none;        
    margin-left: auto;
}
.success {
    border: 1px solid green;
}
.error {
    border: 1px solid red;
}