.input-wrap {
    position: relative;
    margin-bottom: $mb-4;
}

.contact__input {
    width: 100%;
    font-size: $normal-font-size;
    font-weight: 600;
    padding: 1rem;
    border-radius: .5rem;
    border: 1.5px solid $second-color;
    outline: none;
    resize: none;   
    
    &::placeholder {
        font-size: $normal-font-size;
        font-weight: 600;
        color: rgb(153, 153, 153);
    }
}

.contact__input+label {
    position: absolute;
    bottom: -1.5rem;
    left: 0;
    border: none;
    color: tomato !important;
}

.contact__btn {
    display: block;
    border: none;
    outline: none;
    font-size: $normal-font-size;
    cursor: pointer;
    margin-left: auto;
}



.success {
    border: 1px solid green;
}

.error {
    border: 1px solid red;
}