.footer {
    background-color: $second-color;
    color: $third-color;
    text-align: center;
    font-weight: 600;
    padding: $mb-4 0;    
    &__title {
        font-size: $big-font-size;
        margin-bottom: $mb-4;        
    }
    &__social {
        margin-bottom: $mb-4;
    }
    &__icon {
        font-size: 1.5rem;
        color: $third-color;
        margin: 0 $mb-2;
        &:hover {
            color: $first-color;
        }
    }
}

