.home {    
    row-gap: 1rem; 
    position: relative;
    margin-left: $mb-2;
    margin-right: $mb-2; 
    
    &__arrow {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
        width: 90px;
        cursor: pointer;
        z-index: 2;
    }
    
    &__container {     
        height: 100vh;
        display: flex;
        justify-content: space-around;
    }

    &__right {        
        z-index: 1;
        align-self: flex-end;                       
    }    

    &__left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;                
    }   

    &__data {
        padding-top: 10rem;
    }

    &__title {
        font-size: $big-font-size;
        color: $second-color;
        margin-bottom: $mb-6;
    }

    &__title-color {
        color: $first-color;
    }

    &__social {        
        display: flex;
        padding-bottom: $mb-3;        
    }

    &__social-icon {
        width: max-content;
        margin-bottom: $mb-2;
        margin-right: $mb-4;
        font-size: 2rem;
        color: #adadad;

        &:hover {
            color: $first-color;
        }
    }    
}

.button {
    display: inline-block;
    background-color: $first-color;
    color: #fff;
    padding: .75rem 2.5rem;
    font-weight: 600;
    border-radius: 0.5rem;

    &:hover {
        box-shadow: 0 10px 36px rgb(0, 0, 0, .15);
    }
}

