.skills {
    
}


.skills__container {
    row-gap: 2rem;
    text-align: center;
}
.skills__subtitle {
    margin-bottom: $mb-2;
}
.skills__text {
    margin-bottom: $mb-4;
}
.skills__data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-weight: 600;
    padding: .5rem 1rem;
    margin-bottom: $mb-4;
    background-color: #ffffff;   
    border-radius: .5rem;
    border-bottom-left-radius: 0.4rem;
    box-shadow: 0 4px 25px rgb(14, 36, 49, .15);    
}
.skills__icon {
    font-size: 2rem;
    margin-right: $mb-2;
    color: $first-color;
}
.skills__names {
    display: flex;
    align-items: center;
    color: $first-color;
}
.skills__percentage {
    color: $first-color;
}
.skills__bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: $first-color;
    height: .25rem;
    border-radius: .5rem;
    z-index: $z-back;
}
.skills__html {
    width: 90%;
}
.skills__css {
    width: 75%;
}
.skills__js {
    width: 60%;
}
.skills__vue  {
    width: 50%;
}
.skills__box {
    background-image: url(../img/skills_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: .5rem;
    color: #ffffff;    
    padding: 1rem;
    text-align: start;    
}
.skills__item {
    margin-bottom: $mb-2;
    font-size: $h2-font-size;

    span {
        margin-right: $mb-2;
    }
}
