.work {
    text-align: center;

    &__container {
        row-gap: 2rem;
    }

    &__img {
        box-shadow: 0 4px 25px rgba(14, 36, 49, .15);
        border-radius: .5rem;
        overflow: hidden;

        img {
            transition: 1s;
            cursor: pointer;
        }

        img:hover {
            transform: scale(1.1);
        }
    }    
}

